#loading{
    animation: loadingMove 2s infinite;
}

@keyframes loadingMove {
    0% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-10deg);
    }
  }